.map {
  margin-top: 10rem;
  .square {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: var(--square);
    border: 5px solid var(--square-border);
    margin: -2px ;
  }
  .player{
    background-color: var(--player);
  }
  .head{
    background-color: var(--head);
  }
  .food{
    background-color: var(--food);
  }
  .score{
    margin-bottom: 1rem ;
    font-size: 5rem;
    font-family: "Pixelify Sans";
    font-weight: 600;
    color: var(--def);
  }
}
